{% extends 'Inicio.html' %}

{% block body %}
    <div class="container" id="myrow">
        <div class="row">
            <pre style="color: #ffff;">
            Sitio desarrollado por Diego Alejandro Gutierrez Torres, Estudio Ingeniería de Sistemas y me entusiasma la programación en Python
            Este sitio fue creado con la finalidad de aprender y aplicar conocimientos sobre Machine Learning, Ciencia de Datos y Aplicaciones Web en Flask con Python 
            </pre>
        </div>
    </div>
<style>
    #myrow{
        background: linear-gradient(90deg, #525252 0%, #3d72b4 100%);
    }
</style>
{% endblock  %}